# VS code setup
.pytest_cache/*
.vscode/*
# data files
base_data/*
test/*
train/*
val/*
TFRecords/*
kaggle_test.zip
kaggle_train.zip
bounding_box/*
# model history
/checkpoints/*
/ipynb_checkpoints/*
# model
*.h5